html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: spaceInvadersFont;
  color: white;
  background-color: black;
}

.aligned-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#game-container {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
}

#game-area {
  height: 100%;
  width: 100%;
  position: relative;
}

#game-header {
  z-index: 1;
  background-color: black;
}

#victory-message,
#defeat-message {
  display: none;
}

@font-face {
  font-family: spaceInvadersFont;
  src: url(fonts/space_invaders.ttf);
}
